# Next auth https://next-auth.js.org/configuration/options
# Run this command to generate a a new NEXTAUTH_SECRET
# $ openssl rand -base64 32

NEXTAUTH_URL = http://localhost:3000
NEXTAUTH_SECRET=

# Step 1: Set Up a Project in Google Cloud Console
# Go to the Google Cloud Console: https://console.cloud.google.com/
# Create a new project or select an existing project where you want to set up the authentication.
# Navigate to the "APIs & Services" > "Credentials" section.
# Step 2: Create OAuth 2.0 Client ID Credentials
# Click on the "Create Credentials" dropdown and select "OAuth client ID".
# Select "Web application" as the application type.
# Add your authorized redirect URIs (e.g., http://localhost:3000/api/auth/callback/google).
# Click on "Create" to generate the OAuth 2.0 Client ID.
# Step 3: Obtain the Client ID and Client Secret
# Once the OAuth 2.0 Client ID is created, you will see the Client ID and Client Secret values.
# Copy these values and securely store them as you will need them in your Next.js application configuration.

GOOGLE_CLIENT_ID = 
GOOGLE_CLIENT_SECRET = 